# CI WorkFlow for build, test and release of Plugin Packages
name: Plugin Packages CI
on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - 'plugins/**'
      - 'hack/validate-plugin-manifests.sh'
      - 'hack/update-plugin-manifests.sh'
      - 'hack/update-tvk-quickstart-manifests.sh'
      - 'hack/update-cleanup-manifest.sh'
      - '.github/workflows/plugin-manifests.yml'
      - 'hack/**'

jobs:
  # pre-build job runs yaml lint, shell lint, golangci-lint and detects file changes to sets job variables which will be used to
  pre-build:
    runs-on: ubuntu-latest
    outputs:
      cleanup: ${{ steps.filter.outputs.cleanup }}
      testCleanup: ${{ steps.filter.outputs.testCleanup }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run yamllint
        uses: reviewdog/action-yamllint@v1
        with:
          fail_on_error: true
          reporter: local
          filter_mode: nofilter

      - name: Run goenv
        uses: actions/setup-go@v2
        with:
          go-version: '^1.13.1' # The Go version to download (if necessary) and use.

      - name: Run Shell lint
        run: make shell-lint

      - name: Run Pylint
        uses: gabriel-milan/action-pylint@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          path: "./*.py" # Glob pattern for files to lint
          fail: true # Fail the action if pylint errors are found
          pr-message: true # Send a PR message if pylint errors are found

      - name: Verify code patterns
        run: make verify-code-patterns

      - name: Detect File Changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            shared: &shared
              - 'Makefile'
              - 'hack/**'
              - '.goreleaser.yml'
              - '.github/workflows/plugin-packages.yml'
            sharedCleanup: &sharedCleanup
              - *shared
              - 'tools/cleanup/**'
              - 'tests/cleanup/**'
            cleanup:
              - *sharedCleanup
              - '.krew/tvk-cleanup.yaml'
            testCleanup:
              - *sharedCleanup
