# CI WorkFlow for build, test and release of Plugin Packages
name: Plugin Packages CI
on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - 'plugins/**'
      - 'hack/validate-plugin-manifests.sh'
      - 'hack/update-plugin-manifests.sh'
      - 'hack/update-tvk-quickstart-manifests.sh'
      - 'hack/update-cleanup-manifest.sh'
      - '.github/workflows/plugin-manifests.yml'
      - 'hack/**'

jobs:
  # pre-build job runs yaml lint, shell lint, golangci-lint and detects file changes to sets job variables which will be used to
  pre-build:
    runs-on: ubuntu-latest
    outputs:
      quickstart: ${{ steps.filter.outputs.quickstart }}
      testquickstart: ${{ steps.filter.outputs.testquickstart }}
      cleanup: ${{ steps.filter.outputs.cleanup }}
      testCleanup: ${{ steps.filter.outputs.testCleanup }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run yamllint
        uses: reviewdog/action-yamllint@v1
        with:
          fail_on_error: true
          reporter: local
          filter_mode: nofilter

      - name: Run goenv
        uses: actions/setup-go@v2
        with:
          go-version: '^1.13.1' # The Go version to download (if necessary) and use.

      - name: Run Shell lint
        run: make shell-lint

      - name: Run Pylint
        uses: gabriel-milan/action-pylint@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          path: "./*.py" # Glob pattern for files to lint
          fail: true # Fail the action if pylint errors are found
          pr-message: true # Send a PR message if pylint errors are found

      - name: Verify code patterns
        run: make verify-code-patterns

      - name: Detect File Changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            shared: &shared
              - 'Makefile'
              - 'hack/**'
              - '.goreleaser.yml'
              - '.github/workflows/plugin-packages.yml'
            sharedQuickstart: &sharedQuickstart
              - *shared
              - 'tools/tvk-quickstart/**'
              - 'tests/tvk-quickstart/**'
            quickstart:
              - *sharedQuickstart
              - '.krew/tvk-quickstart.yaml'
            testquickstart:
              - *sharedQuickstart
            sharedCleanup: &sharedCleanup
              - *shared
              - 'tools/cleanup/**'
              - 'tests/cleanup/**'
            cleanup:
              - *sharedCleanup
              - '.krew/tvk-cleanup.yaml'
            testCleanup:
              - *sharedCleanup

  # upload tvkquickstart packages to github artifacts if tags('/ref/tags') are pushed
  build_test_tvk_quickstart:
    runs-on: ubuntu-latest
    needs: pre-build
    # for tags('ref/tags/'), 'needs.pre-build.outputs.quickstart' will be 'false' so to run 'build_test_preflight' job on tags as well,
    # added condition 'startsWith(github.ref, 'refs/tags/')'
    if: (needs.pre-build.outputs.quickstart == 'true') || startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build Tvk-quickstart Package
        run: make build-tvk-quickstart

      - name: Set up Kubeconfig
        run: |
          echo "${{ secrets.CLUSTER3_KUBECONFIG }}" | base64 --decode > /tmp/kubeconfig_clus3

      - name: Authenticate and Connect to cluster
        if: (needs.pre-build.outputs.testquickstart == 'true') || startsWith(github.ref, 'refs/tags/')
        env:
          KUBECONFIG: /tmp/kubeconfig_clus3
        run: |
          export KUBECONFIG=/tmp/kubeconfig_clus3

      - name: Update 'input_config'
        run: |
          echo "Updating 'tests/tvk-quickstart/input_config to run tvk-quickstart"
          access_key=${{ secrets.ACCESSKEY }}
          sed -i "s/^\(access_key\s*=\s*\).*$/\1\'$access_key\'/" tests/tvk-quickstart/input_config
          secret_key=${{ secrets.SECRETKEY }}
          sed -i "s/^\(secret_key\s*=\s*\).*$/\1\'$secret_key\'/" tests/tvk-quickstart/input_config

      - name: Ensure Required Utilities Installed
        run: make install-required-utilities

      - name: Test tvk_quickstart Plugin Locally
        env:
          KUBECONFIG: /tmp/kubeconfig_clus3
        run: make test-tvk-quickstart-plugin-locally

      - name: Upload  Tvk-quickstart Plugin Packges to github artifact
        uses: actions/upload-artifact@v4
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: tvk-quickstart
          path: |
            build/tvk-quickstart.tar.gz
            build/tvk-quickstart-sha256.txt

  build_test_cleanup:
    runs-on: ubuntu-latest
    needs: pre-build
    # for tags('ref/tags/'), 'needs.pre-build.outputs.cleanup' will be 'false' so to run 'build_test_cleanup' job on tags as well,
    # added condition 'startsWith(github.ref, 'refs/tags/')'
    if: (needs.pre-build.outputs.cleanup == 'true') || startsWith(github.ref, 'refs/tags/')
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build Cleanup Package
      run: make build-cleanup

      #- name: Set up Cloud SDK
      #if: (needs.pre-build.outputs.testCleanup == 'true') || startsWith(github.ref, 'refs/tags/')
      #uses: google-github-actions/setup-gcloud@v0
      #with:
      #  project_id: ${{ secrets.GCS_PROJECT_ID }}
      #  service_account_key: ${{ secrets.GKE_SA_KEY }}
      #  export_default_credentials: true

      #- name: Authenticate and Connect to GKE cluster
      #if: (needs.pre-build.outputs.testCleanup == 'true') || startsWith(github.ref, 'refs/tags/')
      #uses: google-github-actions/get-gke-credentials@main
      #with:
      #  cluster_name: ${{ env.GKE_CLUSTER }}
      #  location: ${{ env.GKE_REGION }}
      #  use_auth_provider: true
      #  credentials: ${{ secrets.GKE_SA_KEY }}

      #- name: Run Cleanup Integration Tests
      #if: (needs.pre-build.outputs.testCleanup == 'true') || startsWith(github.ref, 'refs/tags/')
      #run: make test-cleanup-integration

    - name: Ensure Required Utilities Installed
      run: make install-required-utilities

    - name: Test Cleanup Plugin Locally
      run: make test-cleanup-plugin-locally

    - name: Upload Cleanup Plugin Packges to github artifact
      uses: actions/upload-artifact@v4
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: cleanup
        path: |
          build/cleanup.tar.gz
          build/cleanup-sha256.txt

  # pre-release job determines whether to create release or not and sets job variables which will be used to decide
  # what packages(tvk-quickstart, tvk-cleanup) should be included in release.
  pre-release:
    runs-on: ubuntu-latest
    needs: [build_test_tvk_quickstart, build_test_cleanup]
    if: startsWith(github.ref, 'refs/tags/')
    outputs:
      create_release: true
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

  # release job creates and uploads release on github. Also, decides which package to include in release based on conditional constructs.
  release:
    runs-on: ubuntu-latest
    needs: pre-release
    if: needs.pre-release.outputs.create_release == 'true' && startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download All Plugin Packages From Artifacts
        uses: actions/download-artifact@v4
        with:
          path: build

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          prerelease: true
          #artifacts: "build/tvk-/tvk-oneclick-sha256.txt, build/tvk-oneclick/tvk-oneclick.tar.gz, build/ocp_etcd_backup_restore/ocp-etcd-backup-restore-sha256.txt, build/ocp_etcd_backup_restore/ocp-etcd-backup-restore.tar.gz, build/rke_etcd_backup_restore/rke-etcd-backup-restore-sha256.txt, build/rke_etcd_backup_restore/rke-etcd-backup-restore.tar.gz"
          artifacts: "build/tvk-quickstart/*, build/cleanup/*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

